* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
   
}

html {
    background-color: #15b1b1;
 
}

body {
    display: flex;
   
}

#main {
    display: grid;
    width : 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 4em;
    border-radius: 80px;
    border-right: solid 24px rgb(92, 172, 172);
    border-bottom: solid 20px  rgb(98, 182, 182);
    border-left: 7px solid rgb(112, 207, 207);
    border-top: 7px solid  rgb(98, 182, 182);
    border-end-start-radius: 98px;
    border-top-left-radius: 98px;
    background-color: rgb(107, 197, 197);
    box-shadow: 23px 20px 15px 5px rgb(23, 109, 95);

}

#container {
    display: grid;
    background: rgba(226, 248, 252, 0.767);
    border: rgb(87, 163, 163) solid 7px;
    width: 766px;
    height: 766px;
    --grid-column-count: 16;
    --grid-row-count: 0;
    grid-template-columns: repeat(var(--grid-column-count), 1fr);
    grid-template-rows: repeat(var(--grid-row-count), 1fr);
    margin-left: auto;
    margin-top: 1em;
    border-radius: 9px;
    border-right: solid 5px rgb(98, 182, 182);
    border-bottom: solid 5px rgb(98, 182, 182);
    
}

.cell {
    border: 1px dashed rgba(35, 133, 118, 0.205);
}

.cell:hover {
    background-color: rgba(83, 241, 241, 0.432);
}

.drawingActive {
    cursor: URL('drawing-bear.png'), pointer;
}


#options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#boardOptions{
    display: flex;
    flex-direction: row;
    gap: 3em;
}


input[type="color"] {
	-webkit-appearance: none;
	border: none;
    background: none;
    margin-top: 6em;
    margin-left: 20px;
    width: 90px;
    height: 90px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    overflow: hidden;
    background: none;


}

input[type="color"]::-webkit-color-swatch {
    background: none;
    border: 3px solid rgb(82, 172, 160);
    border-radius: 10%;
}

#rangeOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 666px;
    margin-top: 1em;
}

#range { 
    -webkit-appearance: none;
    width: 566px;
    height: 38px;
    background: rgba(177, 232, 240, 0.767);
    border-radius: 50px;
    border: 2px solid  rgb(98, 182, 182);
    padding: 5px;
    box-shadow: 2px 3px 5px rgb(153, 113, 146);
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:  rgb(166, 183, 241);
    height: 25px;
    width: 25px;
    border-radius: 70px;
    box-shadow: 2px 2px 3px rgb(153, 113, 146);
}

#rangeSliderVal {
    display: flex;
    justify-content: center;
    align-items: center;
    color:   rgb(85, 109, 189);
    font-size: 24px;
    margin-left: 10px;
    width: 38px;
    height: 38px;
    border: 2px solid rgb(98, 182, 182);
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(153, 113, 146);
    background-color:rgba(177, 232, 240, 0.767);
    font-family: 'Android7Regular';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgb(153, 113, 146);
}

.eraser {
    cursor: URL('eraser-bear-1.png'), pointer;
}


#pop-up-box {
    margin: 0;
    padding: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    top: 48%;
    left: 51.5%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: dashed 3px rgba(153, 113, 146, 0.466);
    background-color: rgba(216, 173, 210, 0.548);
    border-radius: 5px;
    z-index: 10;
    width: 410px;
    max-width: 80%;
    height: 410px;
    gap: 20px;
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-style: normal;
    color: rgb(78, 10, 66);
}

.list {
    line-height: 2.5em;
}

.strong {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  rgb(160, 182, 229);
    text-shadow: 2px 2px 3px rgb(10, 19, 16);
    font-size: larger;
    background-color: #6268c7;
    border-radius: 550px;
    padding: 1rem;
    border: solid 2px rgb(42, 248, 180);
    width: 150px;
}

#pop-up-box.active {
    transform: translate(-50%, -50%) scale(1);
}

#modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

#modal-head .close-button {
    background: none;
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 1.5rem;
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    color: rgb(78, 10, 66);
}


#pop-up-box .modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(201, 142, 201, 0.452);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
   

#bg-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: absolute;
}

.button-options{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px rgb(104, 218, 202);
    margin-top: 45px;
    margin-left: 18px;
    padding: 1em;
    background-color: rgb(85, 109, 189);
    border-radius: 60%;
    width: 110px;
    height: 90px;
    box-shadow: 2px 2px 2px rgb(153, 113, 146);
    text-shadow: 1px 2px 2px rgb(45, 6, 95);
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-size: 20px;
    color: #A6B7F1;
}


.button-options:hover {
    margin-left: 16px;
    box-shadow: -3px -2px 2px rgba(88, 50, 88, 0.404);
}

@media screen and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
    #main {
        width: 800px;
        height: 900px;
        margin: auto;

    
    }
    #bg-options {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button-options {
        top: 0;
        width: 80px;
        height: 60px;
    }

    #container {
        width: 600px;
        height: 600px;
        margin-left: auto;
      
    }
     
}


