* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
   
}

html {
    background-color: rgb(143, 142, 201);
}

body {
    display: flex;
}

#main {
    display: grid;
    width : 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 3em;
    border-radius: 80px;
    border-right: solid 24px rgb(206, 161, 198);
    border-bottom: solid 20px rgb(194, 152, 186);
    border-left: 7px solid rgb(199, 152, 190);
    border-top: 7px solid rgb(206, 161, 198);
    border-end-start-radius: 98px;
    border-top-left-radius: 98px;
    background-color: rgb(222, 199, 223);
    box-shadow: 23px 20px 15px 5px rgb(153, 113, 146);

}

#container {
    display: grid;
    background: rgba(155, 194, 224, 0.767);
    border: rgb(206, 161, 198) solid 7px;
    width: 666px;
    height: 666px;
    --grid-column-count: 16;
    --grid-row-count: 0;
    grid-template-columns: repeat(var(--grid-column-count), 1fr);
    grid-template-rows: repeat(var(--grid-row-count), 1fr);
    margin: auto;
    margin-top: 1em;
    border-radius: 9px;
    border-right: solid 5px rgb(212, 167, 204);
    border-bottom: solid 5px rgb(207, 162, 199);
}

.cell {
    border: 1px dashed rgb(184, 152, 152);
}

.cell:hover {
    background-color: rgb(121, 166, 207)
}

#options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#boardOptions{
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.joyStick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    margin-top: 1em;
    background-color: #2583a8;
    border: 4px solid rgb(42, 248, 180);
    border-radius: 100px;
    color: rgb(221, 140, 206);
    font-size: 1.8em;
    box-shadow: 3px 3px 9px rgb(153, 113, 146);
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-style: normal;
    text-shadow: 2px 2px 3px rgb(10, 19, 16);
    
}

.joyStick:hover {
    cursor: pointer;
    color: rgb(231, 202, 227);
    box-shadow: 2px 2px 10px rgb(42, 248, 180);
    margin-top: 28px;
}

#rangeOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 666px;
    margin-top: 1em;
}

#range { 
    -webkit-appearance: none;
    width: 566px;
    height: 38px;
    background: rgba(155, 194, 224, 0.767);
    border-radius: 50px;
    border: 2px solid rgb(121, 166, 207);
    padding: 5px;
    box-shadow: 2px 3px 5px rgb(153, 113, 146);
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgba(4, 75, 85, 0.767);
    height: 25px;
    width: 25px;
    border-radius: 70px;
    box-shadow: 2px 2px 3px rgb(153, 113, 146);
}

#rangeSliderVal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(29, 158, 175, 0.767);
    font-size: 24px;
    margin-left: 10px;
    width: 38px;
    height: 38px;
    border: 2px solid rgb(121, 166, 207);;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(153, 113, 146);
    background-color: rgba(155, 194, 224, 0.767);
    font-family: 'Android7Regular';
    font-weight: normal;
    font-style: normal;
    text-shadow: 1px 1px 1px rgb(153, 113, 146);
}

.eraser {
    cursor: pointer;
}


#pop-up-box {
    margin: 0;
    padding: 4em;
    padding-top: 1em;
    position: fixed;
    top: 38.4%;
    left: 49.3%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: dashed 3px rgba(153, 113, 146, 0.466);
    background-color: rgba(112, 228, 222, 0.788);
    border-radius: 5px;
    z-index: 10;
    width: 410px;
    max-width: 80%;
    height: 410px;
    gap: 20px;
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-style: normal;
    color: rgb(78, 10, 66);
}

.list {
    line-height: 2.5em;
}

.strong {
    justify-content: center;
    align-items: center;
    color:  rgb(221, 140, 206);
    text-shadow: 2px 2px 3px rgb(10, 19, 16);
    font-size: larger;
    background-color: #2583a8;
    border-radius: 550px;
    padding: 0.5rem;
    border: solid 2px rgb(42, 248, 180);
}

#pop-up-box.active {
    transform: translate(-50%, -50%) scale(1);
}

#modal-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

#modal-head .close-button {
    background: none;
    border: none;
    outline: none;
    padding: 8px 15px;
    font-size: 1.5rem;
    font-family: 'Keypunch029Regular';
    font-weight: bold;
    font-style: normal;
    cursor: pointer;
    color: rgb(78, 10, 66);
}


#pop-up-box .modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(143, 142, 201, 0.452);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
   

@media screen and (max-width: 1200px) {
    body{
        overflow: hidden;
    }
}
@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 5vh;
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        max-width: 98%;
        padding-top: 5vh;
        padding-bottom: 8vh;
    }

    #container {
        width : 300px;
        height: 300px;
    }

    #rangeOptions{
        width: 80vw;
    }
    #boardOptions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        width: 70vw;
    }
    .joyStick {
        width: 80px;
        height: 80px;
        font-size: smaller;
    }
   
    .joyStick:hover {
        margin-top: 1em;
    }
}

